@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{

--color-primary-esaturated-red: hsl(0, 36%, 70%);
--color-primary-soft-red: hsl(0, 93%, 68%);

--color-neutral-dark-grayish-red: hsl(0, 6%, 24%);

--gradient-linear--1: linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%));
--gradient-linear--2 :linear-gradient(135deg,hsl(0, 0%, 100%),hsl(0, 100%, 98%));

--fs-default:1.6rem;
--ff-default:'Josefin Sans', sans-serif;
--fw-default:400;
--line-h-default:1.5;

}

.u-border-error {
    outline-color: var(--color-primary-soft-red) !important;
    border-color: var(--color-primary-soft-red) !important;
}


html{
    font-size: 50%;
}

body{
    font-size: var(--fs-default);
    font-family: var(--ff-default);
    font-weight: var(--fw-default);
    background-image: var(--gradient-linear--2);
}



.container{
    height: 100vh;
    
    /* is valid just for laptop device*/
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto 1fr;
   
}

.header{
    padding: 3rem;

    /* is valid just for laptop device*/
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: start;

}

.logo{
    height: 3.6rem;
}

.picture{
    /* is valid just for laptop device*/
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    
}

.picture__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content{
    padding: 6rem 4rem;
    text-align: center;

    /* is valid just for laptop device*/
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

.heading{
    font-size: 3.4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--color-neutral-dark-grayish-red);
}

.heading--sup,
.heading--sub{
    display: block;
    letter-spacing: 1.4rem;
}

.heading--sup{
    font-weight: 300;
    color: var(--color-primary-esaturated-red);
}

.paragraphy{
    color: var(--color-primary-esaturated-red);
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
}


.form{
    position: relative;
}

.input{
    background-color: transparent;

    border: 2px solid var(--color-primary-esaturated-red);
    padding: 1.5rem 3rem;
    width: 100%;
    border-radius: 100rem;
    font-size: 1.8rem;
    color: var(--color-neutral-dark-grayish-red);
}

.input:focus{
    outline-color: var(--color-primary-esaturated-red);
}


input::placeholder{
    color: var(--color-primary-esaturated-red);
}


.button{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 1.6rem 2.8rem;
    border-radius: 100rem;
    border-color: transparent;
    background-image: var(--gradient-linear--1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.error-message{
    display: block;
    position:absolute;
    left: 7%;
    bottom: -50%;
    color: var(--color-primary-soft-red);
}

.icon-error{
    position: absolute;
    right: 8rem;
    top: 50%;
    transform: translateY(-50%);
}

@media  only screen and (min-width:768px) {

    html{
        font-size: 55%;
    }


    .logo{
        height: 4rem;
    }
    
    .heading{
        font-size: 4.5rem;
    }
    .paragraphy{
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }

    .header{
        padding: 4rem 5rem;
    }

    .content{
        padding:7rem ;
    }
    .input{
        font-size: 2.2rem;
    }
    .button{
        padding: 2rem 4rem;
    }

    .error-message{
        left: 4.6%;
        font-size: 1.8rem;
    }

    .icon-error{
        right: 10rem;
    }
    
}

@media  only screen and (width > 1000px) {

    html{
        font-size: 62.5%;
    }
    body{
        background-image: url(../images/bg-pattern-desktop.svg), var(--gradient-linear--2);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .header{
        padding: 6rem 7rem;
    }
    .heading{
        width: 10ch;
        font-size: 5rem;
    }

    .container{
        display: grid;
    }
    .content{
        text-align: start;
        padding-top:0;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .input:focus{
        outline-width: 4px;
    }

    .icon-error{
        right: 10rem;
    }

}