@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



/* VARIABLES*/
$color-primary-red: hsl(0, 100%, 74%);
$color-pirmary-green:hsl(154, 59%, 51%);

$color-accent-blue: hsl(248, 32%, 49%);

$color-neutral-dark-blue: hsl(249, 10%, 26%);
$color-neutral-grayish-blue: hsl(246, 25%, 77%);

$color-white:hsl(0, 0%, 100%);
$color-black:hsl(0, 0%, 0%);

$font-s-default:1.6rem;
$font-w-default:400;
$line-h-default:1.5;
$bd-radius-default: .8rem;
$font-f-default:'Poppins', sans-serif;


.u-error-border{border-color: $color-primary-red !important;}
.u-a-shakeX{animation: shakeX .8s ease !important;}



::selection{
    background-color: $color-accent-blue;
    color: $color-white;
}



html{
    font-size: 50%;
}

body{
    font-family: $font-f-default;
    font-weight: $font-w-default;
    font-size: $font-s-default;
    line-height: $line-h-default;
    color: $color-white ;
}

.wrapper{
    width: 100%;
    height: 100vh;

    display: grid;
    place-content: center;
    background-color: $color-primary-red;
    background-image: url(../images/bg-intro-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero{
    max-width: 37.5rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
    
    &__content{
        text-align: center;
    }
    .heading{
        font-size: 2.5rem;
        margin-bottom: 1.2rem;
    }

    &__plans{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

.paragraphy{
    font-size: 1.6rem;
}


.info-plan{
    background-color: $color-accent-blue;
    padding: 1.5rem 6rem;
    text-align: center;
    border-radius: $bd-radius-default;
    box-shadow: 2px 2px 10px rgba($color-black, .4);
}

.form{
   padding: 2rem;
   background-color: $color-white;


   display: flex;
   flex-direction: column;
   gap: 1.5rem;
   border-radius: $bd-radius-default;
   box-shadow: 2px 2px 10px rgba($color-black, .2);

   .input{
      width: 100%;
      padding: 1.2rem;
      border-radius: .5rem;
      border: 1.2px solid $color-neutral-grayish-blue;
      font-weight: 600;
      color: $color-neutral-dark-blue;
    &:focus{
        outline: 1.4px solid $color-accent-blue;
        border: 1.4px solid transparent;
    }

   }


   &__group{
    position: relative;
    
  
    .error-message{
        color: $color-primary-red;
        font-size: 1.2rem;
        display: block;
        text-align: right;
        margin-top: .2rem;
        margin-bottom: -.2rem;

    }
    .icon-error > img{
        position: absolute;
        right: 2rem;
        top: 38%;
        transform: translateY(-50%);
        height: 1.6rem;
    }
   }

   .button{
        appearance: none;
        border: none;
        background-color: $color-pirmary-green; 
        color: $color-white; 
        padding: 1.4rem;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: .5rem;  
        box-shadow: 2px 1.2px 2px rgba($color-black, .2);
        cursor: pointer;
   }
}

small{
    color: $color-neutral-grayish-blue;
    text-align: center;
    font-size: 1.5rem;

    & > a{
        text-decoration: none;
        color: $color-primary-red;
        font-weight: 600;

        &:hover{
            text-decoration: underline;
        }
    }
}



/*Animations*/

@keyframes shakeX {
    0% { transform: translateX(0); }
    10%, 90% { transform: translateX(-10px); } /* Adjust the distance of the shake */
    20%, 80% { transform: translateX(10px); }
    30%, 50%, 70% { transform: translateX(-10px); }
    40%, 60% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}




@media only screen and (min-width: 768px){

    html{
        font-size: 52%;
    }

    .hero{
        max-width: 50rem;
    }

}

@media only screen and (min-width: 1440px){

    html{
        font-size: 62.5%;
    }
    .wrapper{
        background-image: url(../images/bg-intro-desktop.png);
    }
    .hero{
        max-width: 100rem;
        flex-direction: row;
        align-items: center;
        &__plans{
            flex-basis: 55%;
        }
        &__content{
            flex-shrink: 12;
            text-align: start;
        }

        .heading{
            font-size: 4rem;
            margin-bottom: 2rem;
        }
    }

    small{
        font-size: 1.2rem;
    }

}