@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


/*
    #6E8098
*/
:root{

    --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-desaturated-dark-blue: hsl(214, 17%, 51%);
    --color-grayish-glue: hsl(212, 23%, 69%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);

    --color-white:hsl(0, 0%, 100%);

    --fs-dafault:1.3rem;
    --ff-default:'Manrope', sans-serif;
    --fw-default: 500;
    --line-h-default:1.5;
    --bd-radius-default: .8rem
}


html{
    font-size: 51%;
}

body{
    font-family: var(--ff-default);
    font-weight: var(--fw-default);
    font-size: var(--fs-dafault);
    line-height: var(--line-h-default);
}

.wrapper{
    height: 100vh;
    background-color: var(--color-light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 37.5rem;
    background-color: var(--color-white);
    border-radius: var(--bd-radius-default);
    position: relative;
}


.share{
    width: 100%;
    background-color: var(--color-very-dark-grayish-blue);
    position: absolute;
    padding: 3rem;
    bottom: 0;
    border-bottom-left-radius: var(--bd-radius-default);
    border-bottom-right-radius: var(--bd-radius-default);
}

.heading{
    margin-bottom: 1.2rem;
    color: var(--color-very-dark-grayish-blue);
    line-height: 1.4;
}

.paragrahy{
    font-size: 1.6rem;   
    color: var(--color-desaturated-dark-blue);
}

.card__main{
    padding:3rem 3rem 0 3rem;
    margin-bottom: 3.5rem;
}

.card__footer{
    padding: 0 3rem 3rem 3rem;
}

.card--img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-top-right-radius: var(--bd-radius-default);
    border-top-left-radius: var(--bd-radius-default) ;
}

.card__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-img > img{
    height: 5rem;
    border-radius: 50%;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.box-content{
    display: flex;
    flex-direction: column;
}

.box-content>strong{
    color: var(--color-very-dark-grayish-blue);
}
.box-content > time{
    color: var(--color-grayish-glue);
}

.button{
    background-color: var(--color-light-grayish-blue);
    border: transparent;
    padding: 1.2rem;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1;
}

.button:hover{
    background-color:var(--color-light-grayish-blue) ;
}

.button:hover >.icon--share{
    fill: var(--color-white);
} 

.icon--share{
    fill: var(--color-very-dark-grayish-blue);
}