@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


/*
    #6E8098
*/
:root{

    --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-desaturated-dark-blue: hsl(214, 17%, 51%);
    --color-grayish-glue: hsl(212, 23%, 69%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);

    --color-white:hsl(0, 0%, 100%);

    --fs-dafault:1.3rem;
    --ff-default:'Manrope', sans-serif;
    --fw-default: 500;
    --line-h-default:1.5;
    --bd-radius-default: .8rem
}


html{
    font-size: 51%;
}

body{
    font-family: var(--ff-default);
    font-weight: var(--fw-default);
    font-size: var(--fs-dafault);
    line-height: var(--line-h-default);
}

.wrapper{
    height: 100vh;
    background-color: var(--color-light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    max-width: 37.5rem;
    background-color: var(--color-white);
    border-radius: var(--bd-radius-default);
    position: relative;
}


.share{
    width: 100%;
    background-color: var(--color-very-dark-grayish-blue);
    position: absolute;
    padding: 3rem;
    bottom: 0;
    border-bottom-left-radius: var(--bd-radius-default);
    border-bottom-right-radius: var(--bd-radius-default);

    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.share span{
    text-transform: uppercase;
    color: var(--color-grayish-glue);
    font-size: 1.8rem;
}


.heading{
    margin-bottom: 1.2rem;
    color: var(--color-very-dark-grayish-blue);
    line-height: 1.4;
}

.paragrahy{
    font-size: 1.6rem;   
    color: var(--color-desaturated-dark-blue);
}

.card__main{
    padding:3rem 3rem 0 3rem;
    margin-bottom: 3.5rem;
}

.card__footer{
    margin-top: 6rem;
}


.card--img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-top-right-radius: var(--bd-radius-default);
    border-top-left-radius: var(--bd-radius-default) ;
}

.card__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-img > img{
    height: 5rem;
    border-radius: 50%;
}

.user-info{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.box-content{
    display: flex;
    flex-direction: column;
}

.box-content>strong{
    color: var(--color-very-dark-grayish-blue);
    font-size: 1.6rem;
}
.box-content > time{
    color: var(--color-grayish-glue);
}

.button{
    background-color: var(--color-light-grayish-blue);
    border: transparent;
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.button--active{
    background-color: var(--color-desaturated-dark-blue) !important;
}
.button--active-transform{
    transform: translateY(1.3rem) !important;
}

.icon--share-active{
    fill: var(--color-white)!important;
}

.button:hover{
    background-color:var(--color-light-grayish-blue);
}



.icon--share{
    fill: var(--color-desaturated-dark-blue);
}

@media only screen and (min-width:768px){

    html{
        font-size: 55%;
    }

    .card{
        max-width: 50.8rem;
    }

    
    .card--img{
        height: 30rem;

    }

    .heading{
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }

    .card__main{
        margin-top: 2.4rem;
    }

    .paragrahy{
        font-size: 1.8rem;
    }

    .box-content>strong{
        font-size: 1.8rem;
    }
    .box-content>time{
        font-size: 1.4rem;
    }
    
    .box-img > img{
        height: 6.5rem;
    }

    .share{
        padding: 3.5rem  3rem 3.5rem 3rem;
    }

}

@media only screen and (min-width:1280px){

    html{font-size: 62.5%;}
    .card{
        max-width: 90rem;
        display: flex;
        align-items: center;
    }

    .heading{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .card--img{
        width: 100%;
        border-top-right-radius:0;
        border-bottom-left-radius: var(--bd-radius-default);
    }

    .card__main{
        padding:0;
        margin-bottom: 0
    }

    .card__footer{
        margin-top: 1.8rem;
    }
    .card__header{
        flex-basis: 90%;
    }
    .image-box{
        height: 100%;
    }

   .card__main{
     padding:0 3rem 3rem 3rem;
   }

   .box-img > img{
        height: 5rem;
   }
  
   .paragrahy{
    font-size: 1.5rem;
   }
   .box-content>strong{
    font-size: 1.5rem;
   }
   .box-content>time{
    font-size: 1.3rem;
   }  

   .share{
        width: 20rem;
        right: 0;
        bottom: 11.2rem;
        transform: translateX(5rem);
        padding: 1.2rem 2rem;
        border-radius: var(--bd-radius-default);
        display: flex;
        justify-content: center;
   }

   .share::before{
     content: "";
     display: block;
     position: absolute;
     height: 2rem;
     width: 2rem;
     background-color: var(--color-very-dark-grayish-blue);
     left: 50%;
     bottom: -1rem;
     clip-path: polygon(46% 100%, 0 31%, 100% 32%);
     transform: translateX(-50%);
   }

   .share > span{
        font-size: 1.3rem;
   }
   
}